/* ==========================================================================
   MY custom styles
   ========================================================================== */

/*FONTS:
paragraph: font-family: 'Playfair Display', serif;
headings: font-family: 'Raleway', sans-serif; 
logo: font-family: 'Dancing Script', cursive;
*/

html {
    font-size: 14px;
}

/*this makes it 100%..0.5rem makes it half the size*/
p {
    font-size: 1rem;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Raleway;
    padding-right: 17%; 
    padding-left: 17%;
    font-weight: lighter; 
}

h1 {
    font-size: 7vw;
    font-family: 'Satisfy', cursive;
    text-align: center;
    padding: 0px;
    margin-top: 8%;
}

h4 {
    float: right;
}

h3 {
    display: inline;
    font-size: 2rem;
}

h6 {
    font-family: 'Satisfy', cursive;
}

h5 {
    font-size: 2rem;
}

img {
    padding-right: 17%; 
    padding-left: 17%;
    width: 100%;
} 

p {
    font-family: 'Playfair Display', serif;
    padding-right: 17%; 
    padding-left: 17%;
}

.here {
    color: 39,64,64;
    font-weight: bold;
}

.navbar {
    display: inline-block;
    position: fixed;
    width: 100%;
    font-family: Raleway;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    list-style: none;
    position: fixed;
    background-color: rgb(51,191,191);
    color: rgb(255,255,255);
    padding-top: 13px;
    padding-bottom: 13px;
}

header {
    background-color: rgb(51,191,191);
    width: 100%;
 }

footer {
    text-align: center;
    color: rgb(255,255,255);
    background-color: rgb(51,191,191);
    width:100%;
    font-size: .8rem;
    font-family: Raleway;
    margin-top: 10%;
    margin-bottom: 0px;
}

a {
    text-decoration: none;
}

a, a:visited {
    color: inherit;
}

aside {
      width: 25%;
      float: right;
      padding-right: 6%;
}


/*Add box-sizing: border-box; to everything */
* { 
    box-sizing: border-box;
}

.contact {
    border: 1px solid black;
    padding: 2rem;
    margin-left: 17%;
    margin-right: 17%;
    margin-top: 5%;
    margin-bottom: 5%;

}

.blogfeed img {

}

hr {
    color: #D2D2D2;
    border: solid thin #D2D2D2;
    margin-top: 5%;
    margin-bottom: 5%;
}

section {
    width: 75%;
    float: left;
    padding-right: none;
}

/*Write Mobile CSS and wrap in media query*/
@media (max-width: 481px) {

    aside {
        display: none;
    }

    h1 {
        margin-top: 20%;
    }

    blockquote {
        text-align: center;
    }

    .contact {
    border: 1px solid black;
    padding: 2rem;
    margin-left: 17%;
    margin-right: 17%;
    margin-top: 5%;
    margin-bottom: 5%;

    }

    h3 {
        font-size: 1.7rem;
        width: 100%;
    }

}




/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clear {
    clear: both;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;

